==
<footer>
 <div class="container">
     <div class="row">
         <div class="col-md-12 col-lg-12" id="footergc7">
             <div class="wow shake" data-wow-delay="0.4s">
             <div class="page-scroll marginbot-30">
                 <a href="#intro" id="totop" class="btn btn-circle">
                     <i class="fa fa-angle-double-up animated"></i>
                 </a>
             </div>
             </div>
             <p>&copy; <b>Groupe COTE</b> - {{ "now"|date("Y") }} LC. - 2, allée des Roses - F <b>59</b>
            410 <b>ANZIN</b></p>
        <p><b>COTE</b> - R.C.S. 378 333413 Valenciennes - N.A.F. 4791 A - T.V.A. Intra-Comm. FR50 378333413</p>
        <p><a href="/be" target="_blank" class="noDeco"><b>B</b>ureau</a> d'<a
                href="https://github.com/chemin2bonheur/portail" target="_blank" class="noDeco"><b>É</b>tudes</a>
            & d'<b>A</b>ffaires <b>Gr</b>oupe <b>COTE7</b>- 31/00 - 0570167 | 06 - DZ ORAN - APE 607006 & 612205</p>
         </div>
     </div>
 </div>
</footer>